.agebutton {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
#dob {
  background-color: #fdfdfdc9;
  border: 1px solid #9b9898;
}
#dob:focus {
  background-color: #fdfdfdc9;
  outline: 1px solid #9b9898;
}
