html {
  height: 300%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  max-width: 90%;
  margin-inline: auto;
  background:
    linear-gradient(
      135deg,
      hsl(0deg 2.94% 69.17%) 0,
      hsla(236.6, 0%, 53.52%, 0) 70%
    ),
    linear-gradient(
      25deg,
      hsl(220.75deg 7.61% 53.29%) 10%,
      hsla(220.75, 34.93%, 26.52%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(46.42, 36.62%, 83.92%, 1) 15%,
      hsla(46.42, 36.62%, 83.92%, 0) 80%
    ),
    linear-gradient(
      245deg,
      hsla(191.32, 50.68%, 56.45%, 1) 100%,
      hsla(191.32, 50.68%, 56.45%, 0) 70%
    );
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-left: 54px;
}

.search-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box {
  width: 20%;
  border: 1px solid rgb(129 149 148);
  padding: 23px;
  box-shadow:
    0px 10px 13px -7px #403f3fe0,
    5px 5px 15px 5px rgb(0 0 0 / 11%);
}
.box input {
  width: 100%;
  margin-bottom: 15px;
  height: 25px;
  font-size: 20px;
}

.search-box input,
.search-box select,
.search-box button {
  width: 94%;
  padding: 12px;
  font-size: 16px;
  background-color: #fdfdfdc9;
  border: 1px solid #9b9898;
}
.search-box select {
  width: 97% !important;
}
#searchBtn {
  width: 97% !important;
}

.search-box input,
.search-box select,
.search-box button :focus {
  outline: 1px solid #9b9898;
}
.swap-container {
  position: relative;
}
.swapdiv {
  display: flex;
  justify-content: center;
}

#swapBtn {
  position: relative;
  padding: 5px;
  right: 10px;
  /* top: 50%; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
}

#swapBtn:hover {
  background: #f0f0f0;
}

#searchBtn {
  background: #213d77;
  color: white;
  border: none;
  border-radius: 6px;
}

.train-card {
  padding: 10px;
  margin-top: 26px;
  border-radius: 8px;
  /* background: #dceafb85; */
  background:
    linear-gradient(
      135deg,
      hsl(0deg 0.99% 84.89%) 0,
      hsla(236.6, 0%, 53.52%, 0) 70%
    ),
    linear-gradient(
      25deg,
      hsl(220.75deg 7.61% 53.29%) 10%,
      hsla(220.75, 34.93%, 26.52%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(46.42, 36.62%, 83.92%, 1) 15%,
      hsla(46.42, 36.62%, 83.92%, 0) 80%
    ),
    linear-gradient(
      245deg,
      hsla(191.32, 50.68%, 56.45%, 1) 100%,
      hsla(191.32, 50.68%, 56.45%, 0) 70%
    );
  box-shadow:
    0px 10px 13px -7px #2c2a2ae0,
    5px 5px 15px 5px rgb(0 0 0 / 11%);
  border: 2px solid #b3cbef;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
  font-weight: bold;
}

.route {
  background-color: #ffd100;
  margin: 5px;
  padding: 4px;
}
.class-box {
  display: inline-block;
  min-width: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  line-height: 1.6;
}

.chance {
  color: green;
}
.field {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%; /* exactly below input */
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 9999;
  max-height: 200px;
  overflow-y: auto;
}

.suggestions div {
  padding: 6px;
  cursor: pointer;
}

.suggestions div:hover {
  background: #e9f0ff;
}
.fare {
  background-color: #14efb0;
  padding: 5px;
  border-radius: 5px;
}
.class-box {
  display: inline-block;
  width: 90px;
  padding: 6px;
  margin: 4px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #999;
}

/* Base */
.class-box {
  display: inline-block;
  width: 95px;
  padding: 6px;
  margin: 4px;
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ccc;
}

/* ✅ AVAILABLE – soft yellow */
.avl-available {
  background: #a1ffad;
  border-color: #55b765;
  /* color: #5a4b00; */
  color: #362e04;
}

/* 🟦 RAC – soft blue */
.avl-rac {
  background: #eaf4ff;
  border-color: #b8daff;
  color: #084298;
}

/* 🟥 WL – light red / pink */
.avl-wl {
  background: #f3ca72;
  border-color: #f5b7b1;
  color: #842029;
}

/* 🔴 NOT AVAILABLE / REGRET – darker red */
.avl-not-available {
  background: #e46f6f;
  border-color: #dc3545;
  color: #810000;
}

/* fallback */
.avl-unknown {
  background: #f1f1f1;
  color: #333;
}
.modal {
  max-height: 100vh;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.hidden {
  display: none;
}

.modal-content {
  width: 95%;
  max-width: 100%;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background: #213d77;
  color: #fff;
}

#routeBody {
  padding: 10px;
  background: #ffefca;
  max-height: 65vh; /* controls visible height */
  overflow-y: auto; /* ENABLE vertical scroll */
  overflow-x: hidden;
}

.check-route {
  cursor: pointer;
  color: #0d6efd;
  font-size: 14px;
}
