.clock-box {
  text-align: center;
  max-height: 150px;
  padding: 5px 20px 75px 20px;
  border: 2px solid #58a6ff;
  border-radius: 12px;
  background: rgba(53, 64, 79, 0.066);
  box-shadow: 0 0 15px #58a6ff;
  text-shadow:
    0 0 8px #4aa8ff,
    0 0 15px #4aa8ff,
    0 0 25px #4aa8ff;
}

.time {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.date {
  font-size: 22px;
  opacity: 0.9;
}
.clockicon img {
  width: 74px;
}
